---

---

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    font-family: 'Lora', sans-serif;
    color: #616263;
    background-color: #f7f8f9;
    padding: 1em 4rem;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Dosis', sans-serif;
}

a {
    color: inherit;
    font-weight: bolder;
    text-decoration: none;

    &:hover {
        color: #000;
    }
}

.hero {
    background-position: center center;
    background-size: cover;
    height: 300px;
}

header {
    h1 {
        float: left;
        font-size: 1.6em;
    }

    nav {
        float: right;
        font-size: 1.4em;

        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                display: inline-block;
                padding: 2px 4px;
                font-weight: bold;
            }

            li + li {
                margin-left: .5rem;
            }
        }
    }
}


main {
    clear: both;
    img.gravatar {
        border-radius: 50%;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    }

    &.talks {

        article {
            margin-left: 100px;
            margin-top: -3em;

            h1 {
                font-size: 1.4em;

                span {
                    display: block;
                    font-size: small;
                }
            }

            h2 {
                font-size: 1.2em;
            }
        }

        article + article {
            margin-top: 1em;
        }

    }

    &.home, &.about {
        section {
            float:left;
            width: 66%
        }

        aside {
            float: right;
            width: 34%;
        }
    }
}

footer {
    clear: both;
    text-align: center;
    padding-top: 2em;
    font-size: 1em;
    color: #888;

    a {
        color: inherit;
        font-weight: bold;

        &:hover {
            color: #000;
        }
    }
}
