---
layout: default
permalink: talks.html
title: Talks
photos:
  - src: djangocong-2018.jpg
    alt: Djangocong, Lille, 2018
    nickname: providenz
  - src: djangocong-2015.jpg
    alt: Djangocong, Clermont-Ferrand, 2015
    nickname: couac
  - src: sudweb-2011.jpg
    alt: Sudweb, Nîmes, 2011
    nickname: n1k0
twitter:
  image: assets/images/talks/djangocong-2018.jpg
---

{% assign twitter = "<a href='https://twitter.com/nickname'>@nickname</a>" %}

<p>I have had the opportunity to give talks at a few conferences, mainly about
   <strong>Python</strong>, <strong>Django</strong> and general software development.

<aside>
  {% for photo in page.photos %}
    <figure>
      <img src="assets/images/talks/{{ photo['src'] }}" alt="{{ photo['alt'] }}">
      <figcaption>{{ photo['alt'] }} • Credits&nbsp;{{ twitter | replace: 'nickname', photo['nickname'] }}</figcaption>
    </figure>
  {% endfor %}</aside>

{% assign talks_by_year = site.talks | group_by_exp: "talk", "talk.date | date: '%Y'" | reverse %}

{% for year in talks_by_year %}
  <section>
    <h2>{{ year.name }}</h2>

    {% for talk in year.items %}
      <article>
        <h1>
          {{ talk.title }}
          {% if talk.original_title %}
            <span>
              Original title: <em lang="{{ talk.lang }}">{{ talk.original_title }}</em>
            </span>
          {% endif %}
        </h1>
        Talk given on
        <time datetime="{{ talk.date }}">{{ talk.date | date: "%a, %b %d" }}</time>
        at {{ talk.conference }}, {{ talk.place }}.
        {{ talk.excerpt | replace: "</p>", "" }}
      </article>
    {% endfor %}
  </section>
{% endfor %}
