---
---

@import "pico.min.css";

:root {
  --pico-font-family: Lora, serif;
  --pico-font-family-sans-serif: Dosis, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
}

html {
  padding-bottom: var(--pico-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  --pico-font-family: var(--pico-font-family-sans-serif);
}

header {
  nav {
    font-family: var(--pico-font-family-sans-serif);

    ul {
      &:first-child li a {
        font-size: xxx-large;
      }
      
      li {
        font-weight: bolder;
        font-size: 1.25rem;
    
        a.active {
          text-decoration: underline;
        }
      }
    }
  }
}

main {
  img {
      border-radius: var(--pico-border-radius);
    }

  .jumbotron {
    align-items: center;

    img {
      border-radius: 20px;
      grid-column: span 1;
    }

    hgroup {
      grid-column: span 2;
      h1 {
        font-size: 2.8rem;
      }
      h2 {
        font-size: 1.6rem !important;
      }
    }
  }

  &.grid > section {
    grid-column: span 2;
  }

  &.grid > aside {
    grid-column: span 1;

    ul, ul > * {
      all: unset;
    }
  }

}

a[data-fslightbox], a.license img {
  text-decoration: none;
}

img.thumbnail {
  object-fit: cover;
  width: 10rem;
  height: 10rem;
  margin: 0 8px 8px 0;
}

body > footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  text-align: center;
  backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
  background-color: rgba(var(--pico-color-rgb), 0.1);
  border-top: 1px solid #ddd;
  padding-block: 0.5rem;
}

[data-theme="dark"] footer {
  background-color: rgba(255, 255, 255, 0.05);
}

@media (min-width: 768px) {
  ul.archives {
    columns: 2;
    column-gap: var(--pico-spacing);
  }
}
