{%- assign my = site.data.me %}

{%- capture page_title %}{{ my.fullname }} • {{ page.title }}{% endcapture %}
{%- assign page_description = page.description | strip_html | strip %}
{%- assign page_image_url = page.twitter.image | absolute_url | default: my.gravatar %}
{%- assign page_url = page.url | absolute_url -%}

<!doctype html>
<html lang="{{ page.lang | default: 'en-us' }}">
<meta charset="utf-8">
<title>{{ page_title }}</title>
<meta name="description" content="{{ page_description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">

<meta name="twitter:site" content="@{{ my.nickname }}">
<meta name="twitter:creator" content="@{{ my.nickname }}">
<meta name="twitter:card" content="{{ page.twitter.card | default: 'summary' }}">
{%- if page.twitter.player %}
<meta name="twitter:player" content="{{ page.twitter.player }}">
{%- else %}
<meta name="twitter:image" content="{{ page_image_url }}">
{%- endif %}
<meta property="og:url" content="{{ page_url }}">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:description" content="{{ page_description }}">
<meta property="og:image" content="{{ page_image_url }}">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="me" href="https://mamot.fr/@wo0dyn">
<link rel="author" href="{% link humans.txt %}" type="text/plain">
<link rel="alternate me" href="{% link about.json %}" type="application/json">
<link rel="canonical" href="{{ site.url }}">
<link rel="shortcut icon" href="{{ my.gravatar | append: '?s=16' }}" type="image/png">
<link rel="stylesheet" href="{{ 'https://fonts.googleapis.com/css?family=Dosis:400,700|Lora:400,700|Ubuntu+Mono' | uri_escape }}">
<link rel="stylesheet" href="/assets/css/default.css?ts={{ site.time | date: '%s' }}">

<script src="/assets/js/fslightbox.min.js" defer></script>

<header class="container">
  <nav>
    <ul>
      <li><a href="{% link home.html %}" class="contrast">{{ my.nickname }}</a>
    </ul>
    <ul>
      <li><a href="{% link home.html %}" class="contrast
        {%- if page.name contains 'home' %} active" aria-current="page{% endif -%}
        ">Home</a>
      <li><a href="{% link talks.html %}" class="contrast
        {%- if page.name contains 'talks' %} active" aria-current="page{% endif -%}
        ">Talks</a>
      <li><a href="{% link music.html %}" class="contrast
        {%- if page.name contains 'music' %} active" aria-current="page{% endif -%}
        ">Music</a>
      <li><a href="{% link travel.html %}" class="contrast
        {%- if page.name contains 'travel' %} active" aria-current="page{% endif -%}
        ">Travel</a>
      <li><a href="{% link about.html %}" class="contrast
        {%- if page.name contains 'about' %} active" aria-current="page{% endif -%}
        ">About</a>
    </ul>
  </nav>
</header>

<main class="container grid">
  {{ content | strip }}
</main>

<footer>
  <div class="container">
    © 2002-{{ 'now' | date:"%Y" }} {{ my.fullname }} • {{ my.nickname }} on
    <a rel="me" class="contrast" href="{{ my.social.github.url }}">{{ my.social.github.name }}</a>,
    <a rel="me" class="contrast" href="{{ my.social.youtube.url }}">{{ my.social.youtube.name }}</a>,
    <a rel="me" class="contrast" href="{{ my.social.linkedin.url }}">{{ my.social.linkedin.name }}</a> and
    <a rel="me" class="contrast" href="{{ my.social.instagram.url }}">{{ my.social.instagram.name }}</a>.
  </div>
</footer>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "{{ my.fullname }}",
  "gender": "male",
  "url": "{{ my.website }}",
  "image": "{{ my.gravatar }}",
  "sameAs": [
    {%- for medium in my.social %}
    "{{ medium[1].url }}"{% unless forloop.last %},{% endunless %}
    {%- endfor %}
  ],
  "jobTitle": "{{ my.title }}",
  "knowsLanguage": [
    "fr",
    "en"
  ],
  "worksFor": {
    "@type": "Corporation",
    "name": "{{ my.company }}"
  }
}
</script>
