<!doctype html>{% assign my = site.data.people["me"] %}
<html lang="{{ page.lang|default: "en-us" }}">
<meta charset="utf-8">
<title>{{ my.fullname }} • {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="{{ my.nickname }}">
<meta name="twitter:image" content="{{ my.gravatar }}">
<meta property="og:url" content="{{ my.website }}">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ my.gravatar }}">

<link rel="author" href="{% link humans.txt %}" type="text/plain">
<link rel="canonical" href="{{ my.website }}">
<link rel="publisher" href="https://plus.google.com/+NicolasDubois-Wo0dyn">
<link rel="shortcut icon" href="{{ my.gravatar|append: "?s=16" }}" type="image/png">
<link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Dosis:400,700|Lora:400,700" type="text/css">
<link rel="stylesheet" href="/css/core.css" type="text/css">

<header>
    <h1>Nicolas Dubois › {{ page.title }}</h1>
    <nav>
        <ul>
            <li><a href="{% link home.html %}">Home</a>
            <li><a href="{% link talks.html %}">Talks</a>
            <li><a href="{% link about.html %}">About</a>
        </ul>
    </nav>
</header>

<main class="{{ page.title | slugify }}">
    {{ content }}
</main>

<footer>
    <p>© 2002-{{ 'today'|date:"%Y" }} {{ my.fullname }} • {{ my.nickname }} on
    <a href="https://twitter.com/wo0dyn">Twitter</a>,
    <a href="https://github.com/wo0dyn">GitHub</a> and
    <a href="https://linkedin.com/in/wo0dyn">LinkedIn</a>.
</footer>

<script type="text/javascript">
    if (("nicolasdubois.com" == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
